/****************/
/* Build Guides */
/****************/

section:nth-of-type(1) {
	background-color: var(--bg-buildGuidesPage);
	padding: 0 1em 4em;
	text-align: center;
}

section:nth-of-type(1) h1 {
	color: var(--color-buildGuidesPage-h1);
	background-color: var(--bg-buildGuidesPage-h1);
	font-size: 1.5em;
	text-transform: capitalize;
	margin: 0 -1em;
	padding: .5em 0;
}

section:nth-of-type(1) h2 {
	color: var(--color-buildGuides-Page-h2);
	font-size: 1.2em;
	text-transform: capitalize;
	text-align: left;

	border-bottom-style: solid;
	padding-bottom: .5em;
    border-bottom-width: .15em;
    border-color: var(--color-buildGuidesPage-h1-bottom-borderline);
}

section:nth-of-type(1) ul {
	padding: 0 0 .5em;
}

section:nth-of-type(1) li {
	background-color: var(--bg-buildGuides-courosel);
	min-width: 18em;
	padding: .5em;
	list-style: none;
	margin-bottom: 1em;
}

section:nth-of-type(1) h3 {
	color: var(--color-buildGuides-h3);
	margin-top: 0;
	text-align: left;
	padding: 1em .5em 0;
}

section:nth-of-type(1) li p {
	color: var(--color-buildGuides-li-p);
	font-size: .7em;
	font-weight: 700;
	margin: 0em .3em 0 0;
	text-align: left;
	line-height: 1.5;
	padding: 0 1em;
}

section:nth-of-type(1) div {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
}

section:nth-of-type(1) div span {
	display: flex;
}

section:nth-of-type(1) ul li:nth-of-type(2) h3 {
	padding-bottom: .4em;
}

section:nth-of-type(1) div:nth-of-type(1) p {
	color: var(--color-buildGuides-li-p-lastTwo);
	font-size: 1em;
	padding: 0em .8em;
}

section:nth-of-type(1) div:nth-of-type(1) img {
	width: 1em;
}

section:nth-of-type(1) ul li a {
	text-decoration: none;
}

section:nth-of-type(1) div:nth-of-type(2) {
	background-color: var(--bg-imageColor);
	display: grid;
	grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
	place-content: center;
	padding: 1em 1em;
}

section:nth-of-type(1) div:nth-of-type(2) img {
	width: 100%;
}

section:nth-of-type(1) div:nth-of-type(2) img:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 1;
	grid-row-end:3;
}

section:nth-of-type(1) > a {
	background-color: var(--bg-buildGuides-button-a);
	font-family: var(--font-huisstyle);
	color: var(--color-buildGuides-button-a);
	padding: .5em 1em;
	font-size: 1.2em;
	border-radius: .3em;
	border: 0;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}

section:nth-of-type(1) > a img {
	max-width: 1em;
	height: .9em;
	
	display: inline-block;
	margin-right: .5em;
}

@media (min-width: 48em) {
	section:nth-of-type(1) h1 {
		font-size: 2.5em;
	}

	section:nth-of-type(1) h2 {
		font-size: 1.5em;
	}

	section:nth-of-type(1) ul {
		display: flex;
		justify-content: space-between;
	}

	section:nth-of-type(1) li {
		width: 24%;
	}

	section:nth-of-type(1) > a {
		font-size: 2em;
	}
}

@media (prefers-color-scheme: dark) {
	section:nth-of-type(1) ul {
		filter:brightness(.75);
	}
}