/**************/
/* CSS REMEDY */
/**************/

/* dit reset de margin en padding van de browser*/
*, *::after, *::before {
  box-sizing: border-box;  
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* Kleuren */
	--color-huisstyle-black:#11131D;
	--color-huisstyle-LighterBlack:#191B2A;
	--color-huisstyle-darkPurple:#26293B;
	--color-huisstyle-darkGrey:#3C3E42;
	--color-huisstyle-lightBlue:#2C87C3;
	--color-huisstyle-white:#FFFFFF;
	--color-huisstyle-darkerWhite:#f4f4f3;
	--color-huisstyle-lightBrown:#b18c5a;
	--color-huisstyle-orange:#E26723;
	--color-huisstyle-lightYellow:#FFE683;
	--color-huisstyle-brown:#321607;

	/* fonts */
	--font-huisstyle: system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

	/* kleur body */
	--color-body-text: var(--color-huisstyle-black);
	--bg-body: var(--color-huisstyle-white);

	/* kleur main */
	--bg-main: var(--color-huisstyle-white);

	/* kleur header */
	--bg-nav: var(--color-huisstyle-black);

	/* kleur first section */
	--bg-firstSection: var(--color-huisstyle-darkPurple);
	--color-firstSection-h1: var(--color-huisstyle-white);
	--color-firstSection-p: var(--color-huisstyle-white);
	--bg-firstSection-a: var(--color-huisstyle-lightBlue);
	--color-firstSection-a: var(--color-huisstyle-white);

	/* Build Guids */
	--bg-buildGuides: var(--color-huisstyle-darkGrey);
	--color-buildGuides-h2: var(--color-huisstyle-white);
	--color-build-guides-p: var(--color-huisstyle-white);
	--bg-buildGuides-courosel: var(--color-huisstyle-lightBrownn);
	--color-buildGuides-h3: var(--color-huisstyle-white);
	--bg-buildGuides-a: var(--color-huisstyle-lightBlue);
	--color-buildGuides-a: var(--color-huisstyle-white);

	/* Completed Builds */
	--bg-completedBuilds: var(--color-huisstyle-darkerWhite);
	--bg-featuredBuilds: var(--color-huisstyle-orange);

	--bg-completedBuilds-a: var(--color-huisstyle-lightBlue);
	--color-completedBuilds-a: var(--color-huisstyle-white);

	/* footer */
	--bg-footer: var(--color-huisstyle-darkPurple);
	--color-footer-h3: var(--color-huisstyle-white);
	--color-footer-h4: var(--color-huisstyle-white);
	--color-footer-a: var(--color-huisstyle-lightBlue);
	--color-footer-p: var(--color-huisstyle-white);
}





/************/
/* ALGEMEEN */
/************/

body {
	color: var(--color-body-text);
	background-color: var(--bg-body);
	font-family: var(--font-huisstyle);
	margin: 0;
}

button, summary {
	cursor: pointer;
}





/**********/
/* Header */
/**********/

/* Soure: CodePen Home FED 22/23 - Flexbox - Oefening 1 - uitwerking - sommetje 11 Link: https://codepen.io/shooft/pen/VwXXNea?editors=1100 */

header {
	background-color: var(--bg-nav);
}

header ul {
	margin: 0;
	padding: 1em;
	list-style: none;
	display: flex;
	gap: 1em;
}

header ul li:first-of-type {
	margin-right: auto;
}

header li img {
	width: 2em;
	margin-right:.125em;
}

/* hamburger menu in 5 minuten link:https://codepen.io/shooft/pen/vYjgNwj */

/* header nav {
	position:fixed;
	inset:0;
	
	transform:translateX(-100%);
	
	transition:1s;
}

header nav.open {
	transform:translateX(0%);
} */



/*********************/
/* Header menu button*/
/*********************/

/* hamburger menu met bewegend strepen link:https://codepen.io/shooft/pen/dymRMBZ */
header li:nth-of-type(6) button {
	/* grid om de 3 spans in het midden van de button te positioneren */
	display:grid;
	place-items:center;

	/* position:relative;
	z-index:100; */
	width:3em;
	height:3em;
	padding:0;
	background-color: red;
}
  
/* alledrie de streepjes */
header li:nth-of-type(6) button span {
	/* alledrie de spans in de eerste kolom en rij */
	/* ze staan dan over elkaar heen*/
	grid-row-start:1;
	grid-column-start:1;
	
	/* grootte en kleur van de streepjes */
	width: 1em;
	height: .2em;
	
	/* transities duren .5s */
	transition-duration:.5s;
	background-color: white;
}

/* het eerste streepje */
header li:nth-of-type(6) button span:nth-of-type(1) {
	/* met transform: */
	/* .4em omhoog */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY */
	transform:translateY(-.4em);
}
  
/* het derde streepje */
header li:nth-of-type(6) button span:nth-of-type(3) {
	/* met transform: */
	/* .4em omlaag */
	transform:translateY(.4em);
}





/***********************************************************/
/* als de EERSTE STREEPJES BUTTON de classs menuOpen heeft */
/***********************************************************/

/* het eerste streepje */
header li:nth-of-type(6) button.menuOpen span:nth-of-type(1) {
	/* met transform: */
	/* 1: 45 graden draaien met de klok mee */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate */
	/* 2: 25% langer maken */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scaleX*/
	transform:rotate(45deg) scalex(1.25);
}
  
/* het tweede streepje */
header li:nth-of-type(6) button.menuOpen span:nth-of-type(2) {
	/* met opacity helemaal doorzichtig maken */
	opacity:0;
}
  
/* het derde streepje */
header li:nth-of-type(6) button.menuOpen span:nth-of-type(3) {
	/* met transform: */
	/* 1. 45 graden draaien tegen de klok in */
	/* 2. 25% langer maken */
	transform:rotate(-45deg) scalex(1.25);
}





/****************/
/* main */
/****************/

main {
	background-color: var(--bg-main);
}





/****************/
/* eerste section */
/****************/

/* remove line under link with text-decoration: none; Link: https://stackoverflow.com/questions/2789703/remove-blue-underline-from-link */

/* Hoe pas je de gap tussen de icon */

section:nth-of-type(1) {
	background-color: var(--bg-firstSection);
	text-align: center;
	padding: 2em 1em 3em 1em;
}

section:nth-of-type(1) h1 {
	color: var(--color-firstSection-h1);
	font-size: 1.3em;
	text-transform: uppercase;
}

section:nth-of-type(1) p {
	color: var(--color-firstSection-p);
	padding-bottom: 1.5em;
}

section:nth-of-type(1) button {
	background-color: var(--bg-buildGuides-a);
	font-family: var(--font-huisstyle);
	color: var(--color-buildGuides-a);
	padding: .5em 1em .5em 1em;
	font-size: 1.2em;
	border-radius: .3em;
	border: 0;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}

section:nth-of-type(1) button img {
	width: 1em;
	height: 1em;
}





/****************/
/* Build Guides Section */
/****************/

/* text-transform: capitalize; Maakt elke eerste letter cappital  Link: https://love2dev.com/blog/css-text-transform/#:~:text=The%20CSS%20text%2Dtransform%20Property,-The%20CSS%20text&text=uppercase%3A%20makes%20all%20of%20the,exactly%20as%20it%20was%20entered */

section:nth-of-type(2){
	background-color: var(--bg-buildGuides);
	padding: 1em 1em 1em 1em;
}

section:nth-of-type(2) h2 {
	color: var(--color-buildGuides-h2);
	text-align: center;
	font-size: 2em;
	text-transform: capitalize;
}

section:nth-of-type(2) p {
	color: var(--color-build-guides-p);
	opacity: 0.6;
	font-size: 1.05em;
	margin: 0 .3em 0 .3em;
	text-align: center;
}

section:nth-of-type(2) ul {
	display: flex;
	gap: 1em;
	overflow-x: auto;
}

section:nth-of-type(2) ul li {
	color: var(--bg-buildGuides-courosel);
	min-width: 18em;
	padding: 1em;
	list-style: none;
}

section:nth-of-type(2) h3 {
	color: var(--color-buildGuides-h3);
}

section:nth-of-type(2) button {
	background-color: var(--bg-buildGuides-a);
	font-family: var(--font-huisstyle);
	color: var(--color-buildGuides-a);
	padding: .5em 1em .5em 1em;
	font-size: 1.2em;
	border-radius: .3em;
	border: 0;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}

section:nth-of-type(2) button img {
	width: 1em;
	height: 1em;
}


/****************/
/* Completed Builds */
/****************/

section:nth-of-type(3){
	background-color: var(--bg-completedBuilds);
	padding: 2em;
}

section:nth-of-type(3) ul {
	display: flex;
	gap: 1em;
	overflow-x: auto;
}

section:nth-of-type(3) ul {
	display: flex;
	gap: 1em;
	overflow-x: auto;
}

section:nth-of-type(3) li {
	min-width: 18em;
	padding: 1em;
	list-style: none;
}

section:nth-of-type(3) button {
	background-color: var(--bg-buildGuides-a);
	font-family: var(--font-huisstyle);
	color: var(--color-buildGuides-a);
	padding: .5em 1em .5em 1em;
	font-size: 1.2em;
	border-radius: .3em;
	border: 0;
	font-weight: 500;
	text-decoration: none;
	text-transform: capitalize;
}

section:nth-of-type(3) button img {
	width: 1em;
	height: 1em;
}

/****************/
/* Footer */
/****************/

footer {
	background-color: var(--bg-footer);
	padding: 2em;
	font-size: 1.1em;
}

footer h3 {
	color: var(--color-footer-h3);
	text-align: left;
}

footer h4 {
	color: var(--color-footer-h3);
	text-align: left;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.5;
}

footer ul {
	margin-left: -2.3em;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	padding: 0 0 0 0;
	list-style: none;
	color: var(--color-footer-a);
	text-decoration: none;
	font-size: .9em;
}

footer p {
	color: var(--color-footer-p);
	font-size: .7em;
	text-align: center;
}